.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav a {
  color: beige;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 20px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav{
  background-color: darkslategrey;
  overflow: visible;
}

span.icon-bar {
  background-color: whitesmoke;
}

body #root div .App .nav .container-fluid {
  overflow: visible;
}

body #root div .App .nav .container-fluid .navbar-toggle{
  float: left
}


