

.lomake {
    width: 40%;
}

.form-group {
    width: 100%;
}

.form-horizontal{
    padding: 2%;
}

.container {
    padding: 2%;
   align-content: center;
text-align: center;
}

.parent-container {
    /*
    background-color: #f2f2f2;
    */
    min-height: 100%;
}